.filteration-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  height: var(--filteration--var-height);
  position: fixed;
  top: 0;
  z-index: 0;

  color: white;
}

.filteration-btn-container {
  display: flex;
}

.filteration-btn-container button {
  margin: 15px;
  padding: 5px;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-color: rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  cursor: pointer;
}

.filteration-btn-container button:hover {
  background-color: #f3f4f6b6;
  text-decoration: none;
  transition-duration: 0.1s;
}
